* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto','arial',sans-serif;
	line-height: 1.4;
	font-size: 0.75rem;
	background-color: #2e998f;
}

h1 {
	font-family: 'Roboto Slab', serif;
}

.main-content {
	background-color: #e1e1e1;
}

nav {
	background: #227676;
}

ul {
	width: 100%;
	display: block;
}

ul li {
	display: block;
	text-align: left;
	padding: 2rem;
}

ul li:hover{
	background: #2e998f;
}

ul li a:link, a:visited, a:hover, a:active {
	color: #ffffff;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.jumbotron{
	color: #ffffff;
	padding: 2rem;
	margin-top: 0;
	background-image: linear-gradient(rgba(78, 237, 200, 0.4), rgba(78, 237, 200, 0.4)), url("../img/windmill.jpg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 50vh;
}

.action-trigger {
	padding-left: 1em;
}

footer {
	clear: both;
	text-align: center;
	color: #080808;
	bottom: 0;
	width: 100%;
	background: #227676;
}

@media only screen and (min-width:30rem) {
	body {
		font-size: 1rem;
	}	
	.main-content {
		margin: auto;
		max-width: 30rem;
	}	
	
	ul {
		margin: 0 auto;
		padding: 0;
		display: block;
	}
	ul li {
		list-style: none;
		display: inline-block;
		padding: 20px;
	}

	section {
		margin: 1em auto;
	}

	.col-left {
		max-width: 25%;
		margin: 0 auto;
		float: left;
	}

	.col-left img {
		width: 100%;
		height: auto;
	}

	.col-right {
		max-width: 75%;
		margin: 0 auto;
		float: left;
		box-sizing: border-box;
	}
	footer {
		clear: both;
	}
}

@media only screen and (min-width:60rem) {	
	.main-content {
		max-width: 60rem;
	}

	section {
		margin: 2em auto;
	}

	.col-left {
		max-width: 30%;
		padding: 1em 1em 1em 1em;
		margin: 0 auto;
		float: left;
	}

	.col-left img {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
		vertical-align: top;
	}

	.col-right {
		max-width: 70%;
		padding: 1em 1em 1em 1em;
		margin: 0 auto;
		float: left;
		box-sizing: border-box;
		vertical-align: top;
	}

	footer {
		clear: both;
	}
}
